html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END OF CSS RESET */
a {
    text-decoration: none;
}
a:visited {
	color: inherit;
}
html{scroll-behavior:smooth}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 20px 40px;
    margin: 0 auto;
    font-weight: 700;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    z-index: 3;
    background-color: white;
}
.main-nav h3 {
	font-size: 2em;
}
.main-nav ul {
    display:flex;
    gap: 50px;
	align-items: center;
}
#contacts {
	scroll-margin-top:72px;
}
#about {
	scroll-margin-top:72px;
}
#projects {
	scroll-margin-top:72px;
}
.contacts ul{
    display: flex;
    margin:10px 0;
    gap:10px;
    justify-content: space-evenly;
}
.contacts-holder i {
	font-size: 5rem;
	color: black;
}
.contacts-holder i:hover {
	color: rgb(140, 85, 192);
	transition: background-color 0.3s;
}

header {
	background-color: black;
	padding: 100px 0;
	color: white;
}

.profile-image {
	background-image: url('./props/profilna24-min.png');
	background-repeat: no-repeat;
	background-position: 0px -15px;
	background-size: cover;
	border-radius: 200px;
	width: 300px;
	height: 300px;
}
.header-holder {
	width: 90%;
	margin:0 auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 20px;
}
.header-holder h3 {
	font-size: 5em;
	text-align: center;
}
.header-holder>.text-holder {
	display: flex;
	flex-direction: column;
	gap:10px
}
.header-holder span {
	font-size: 2em;
	text-align: left;
}
.typewriter {
			height: 200px;
	width: 400px;
	overflow-wrap: break-word;
}
.Typewriter__cursor {
	color: rgb(140, 85, 192);
}
.contacts-holder {
	width: 90%;
	margin:0 auto;
	padding: 20px 0;
}

.about {
	background-color: #42bd7f78;
	padding: 4em 0;
}

.about-holder {
	width: 90%;
	padding:2em;
	margin: 0 auto;
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap: 8rem;
	font-size: 1.2em;
}
.about-holder>.text-holder {
	line-height: 1.3em;
}

.about-holder>.text-holder>h3 {
	font-size: 3em;
	text-align: center;
	margin-bottom: 2rem;
}

.skills-holder {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skill {
	border: 1px solid black;
	padding: 1rem 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border-radius: 10px;
}

.projects-holder {
	width: 90%;
	padding: 50px 0;
	margin: 0 auto;
	/* display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
}

.project-card {
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding: 20px 20px;
	margin-bottom: 30px;
	border-radius: 12px;
	box-shadow: 1px 2px 3px 1px gray;
}
.project-card img {
	grid-column: 1/2;
	grid-row:1/2;
	width: 500px;
	align-self: center;
	border-radius: 12px;
	box-shadow: 0 0 0 2px black;
	box-shadow: 1px 2px 3px 1px gray;
}
.project-card article {
	grid-column: 2/3;
	display:flex;
	flex-direction: column;
	gap:30px;
	align-self: center;
}
.project-card a {
	grid-column: 2/3;
	font-size:1.25em;
	color: inherit;
	padding: 10px 30px;
	border-radius: 12px;
	box-shadow: 1px 2px 3px 1px gray;
	margin: 4px 10px 4px 10px;
	max-width: fit-content;
	margin: 0;
}
.project-card a:hover {
	color:white;
	background-color: rgb(140, 85, 192);
	transition: background-color 0.3s;
}
.project-card a:active {
	margin: 6px 10px 2px 10px;
}
.project-card p {
	font-size: 1.25em;
	line-height: 1.2em;
}
.project-card h4 {
	font-size: 2em;
}

footer {
	text-align: center;
	padding: 20px 0;
	background-color: black;
	color: white;
}
.fa-bars:before {
	display: none;
}
.fa-bars {
	cursor: pointer;
	align-self: center;
	font-size: 1.5em;
}
.fa-bars:hover {
	color: rgb(140, 85, 192);
	transition: background-color 0.3s;
}
.hidden {
	display:none;
	transition: display 1s;
}
.mobile-nav {
	position: fixed;
	z-index: 1;
	color:black;
	background-color: white;
	border: 1px solid gray;
	box-shadow: -2px 0px 10px 2px black;
	width:60%;
	left: 40%;
	height: 100%;
}

.mobile-nav ul {
	display:flex;
	padding-top:100px;
	text-align: right;
	flex-direction: column;
	gap:50px;
	font-size: 2rem;
	padding-right: 10px;
	color: black;
}

#anchor {
	scroll-margin-top:300px;
}

@media only screen and (max-width: 1000px) {
	.about-holder {
		grid-template-columns: 1fr;
	}
	.fa-bars:before {
		display: block;
		text-align: center;
	}
	.main-nav ul {
		display:none
	}
	.typewriter {
		width: 90vw;
	}
	.header-holder span {
		font-size: 2em;
		text-align: center;
	}
	.project-card {
		display:flex;
		flex-direction: column;
	}
	.project-card img {
		width: 90%;
	}
	.project-card h4 {
		text-align: center;
	}
	.project-card p {
		font-size: 1.1em;
	}
	.project-card a {
		align-self: center;
	}
}